exec permissions.cfg

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.
ensure webpack
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

sv_enforceGameBuild 2372

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, rp, eesti, est, drugs, economy, nopixel, police, discord, cops, lspd, ems, nopixel, wortex, mdt, ucp, softcore, hardcore, realistic, realistlik"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "et-EE" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://imgur.com/aRRpTuR"
#sets banner_connecting "https://imgur.com/aRRpTuR"

# Set your server's hostname
sv_hostname "[EESTI] EternalRP | ARENDUSEL | eternalrp.me"
# sets sv_projectName "EternalRP ARENDUSES (700-1000h+ juba tehtud)"
sets sv_projectName "PARIM SERVU ARENDUSEL"
sets sv_projectDesc "EESTI eternalrp.me"
sets Discord "https://discord.gg/AZA9K5nMta"
sets Twitch "https://www.twitch.tv/klicerl"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set sv_displayqueue true
set sv_debugqueue true

set mysql_connection_string "server=localhost;uid=root;password=pass;database=sitt"
set mysql_slow_query_warning 50

set mysql_uri "mysql://root:pass@127.0.0.1:3306/sitt"

setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_enablePhones 1
setr voice_enableRadios 0
setr voice_debugMode 0
setr voice_enableUi 0
setr voice_defaultCycle Z

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
# sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

add_principal identifier.steam:11000010c692ef1 group.admin

add_ace group.admin admin_menu allow
add_ace group.admin command.screenshot allow
add_ace group.admin vMenu.Staff allow
add_ace group.admin demmycam allow

add_ace group.admin command.mute allow

set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 8

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey 7C406E33F0708AFCEB0A53FD6FBA69B1

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey cfxk_1BGa5W49AVqro70CFDEEN_19ue2g

#ymaps
start fivem-ipl

start pillbox_hospital
start int_prisonfull
start prisonprops
start gabz_mrpd
start casino_ymap

# resources
ensure rpc
ensure jp-sql2

start events
start admin
start players

start jp-keybinds
start mysql-async
start DamageEvents
start runcode

start PolyZone
start jp-polyzone

start progress
start baseevents

start textbox
start interaction
start jp-menu

start jp-sync
start jp-flags
start jp-npcs

start jp-target
start jp-interact

start jp-signin

start jp-heists
start jp-rentals

start blipmanager

start framework
start jp-weather
start blips
start loading-screen
start vMenu
start pNotify
start warmenu
start modules
start zones
start whitelist
start bank
start spawn_manager
start missions
start login-menu
start clothes
start vehicle
start animations
start alerts
start jp-garages
start costs
start inventory
start evidence
start hideintrunk
start recoil
start keys
start status
start radial_map
start pma-voice
start fuel
start seatbelt
start speedometer
start car_menu
start lux_vehcontrol
start binoculars
start handcuffs
# start bills
start player_list
start jp-notify
start doorlock
start death
ensure tuner

start jp-ytypparser
start jp-build
start jp-housing

ensure jp-factions
ensure jp-licenses
ensure jp-mdt

ensure jp-phone
start jp-admin
start es_extended

start dpemotes
start 3dme
start handsup

start npcjobs

start jp_clothes
start jp_clothes_props
start jp-custom_weapons_thrown
start jp-custom_weapons
start jp-custom_weapons_old
start jp-weapons
start timecycle
start interact-sound

# start garbagejob

# start wk_wrs
start fingerpoint
start skill-checks
start visual-memory
start hotwiring

start jobs
start gov_police

start menu
start admin_menu

start freecam
start execution-noclip

# vehicles >>

start jp-vehicles-stream
start jp-vehicleconfig
start jp-vehicle-sounds
start jp-vehicleaudio

start jp-queue
